.advantages {
  width: 100%;
  &--title {
    margin: 3rem 0 2rem 0;

    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
  }

  &--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;

    width: 32%;
    min-width: 400px;
    height: 350px;
    padding: 1rem;

    border: 2px solid #f16334;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgb(241 99 52 / 25%);

    &-title {
      font-size: 1.8rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    &-description {
      font-size: 1rem;
      padding-bottom: 1rem;
    }

    &-icon {
      width: 100px;
      height: 100px;
      object-fit: contain;
      align-self: center;
    }
  }

  &--cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
