.fisrt-line {
  max-width: 100%;

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 30px 0;
  }
}

.logo {
  display: block;

  &--intro {
    display: block;
    font-size: 0.7rem;
    padding-left: 1.6rem;
    padding-top: 0.1rem;
    word-wrap: normal;
    color: #43464b;
  }
}

.date-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;

  i {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url('./../assets/svg/date-icon.svg') no-repeat;
    background-size: contain;
  }

  em {
    padding: 0 5px 0 5px;
    color: #f16334;
  }
}

@media all and (min-width: 300px) and (max-width: 499px) {
  .logo {
    display: block;

    &--intro {
      font-size: 0.7rem;
      padding-left: 1.2rem;
    }
  }

  .date-block {
    font-size: 1.2rem;
  }
}
