.second-line {
  margin-top: 20px;
  min-width: 400px;

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 657px;
    width: 50%;
    min-width: 400px;

    &--pretitle {
      font-size: 1.8rem;
      opacity: 0.8;
    }

    &--title {
      width: 95%;

      font-size: calc(2rem + 1vw);
      font-weight: bold;
      color: black;
    }

    &--notice {
      border: 1px solid rgb(204, 204, 204);
      background: url('./../assets/svg/energy.svg') no-repeat 1rem, #fbfbfb;
      background-size: 4rem;
      margin-bottom: 1rem;
      padding-left: 6rem;
      padding-top: 1.1rem;
      height: calc(7.5rem - 2vw);

      strong {
        font-weight: 600;
      }
    }
  }

  &-right {
    height: 657px;
    width: 40%;
    min-width: 400px;
  }
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;

  max-width: calc(14rem + 14vw);
  border: 1px solid rgb(241, 99, 52);

  .title {
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0.8;
  }
  .watches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .watch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .time {
        opacity: 0.6;
      }

      .digitals {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .digital {
          border: 1px solid rgba(128, 128, 128, 0.336);
          border-radius: 15%;
          margin: 5px;
          padding: 8px 18px;
          font-size: 1.5rem;
          color: #f16334;
        }
      }
    }

    .points {
      font-size: 2rem;
      padding-bottom: 20px;
      color: rgba(128, 128, 128, 0.914);
    }
  }
}

@media all and (min-width: 500px) and (max-width: 1087px) {
  .second-line {
    min-width: 100%;

    &--container {
      justify-content: center;
    }
  }
}

@media all and (min-width: 300px) and (max-width: 499px) {
  .second-line {
    margin-top: 10px;
    min-width: 300px;

    &-left {
      &--pretitle {
        font-size: 1.2rem;
      }

      &--notice {
        width: 300px;
        font-size: 0.85rem;

        strong {
          font-weight: 400;
        }
      }
    }

    &-right {
      min-width: 300px;
    }
  }
}
