.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 346px;
  height: 80px;

  text-decoration: none;
  outline: none;
  border: none;
  width: 346px;
  height: 80px;
  left: 237px;
  top: 543px;

  background: linear-gradient(180deg, #ff7144 0%, #fdce26 100%);
  box-shadow: 2px 4px 15px #fc9e4a;

  border-radius: 70px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #3a3a3a;

  transition: all 0.05s ease-out;

  &:hover {
    opacity: 0.9;
    box-shadow: 0px 4px 30px #fc9e4a;
  }

  &:active {
    transform: translate(2px, 2px);
    transition: all 0.05s ease-out;
  }

  &:disabled {
    background: linear-gradient(180deg, #9a9a9a 0%, #3b3b3a 100%);
    box-shadow: 2px 4px 15px #a2a1a072;
    color: white;
  }
}
