.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: $x-large-screen-size-container;

  padding-top: 30px;
}

.logo {
  display: block;

  text-align: center;

  width: 75px;
  height: 98px;

  text-decoration: none;

  &--icon {
    width: 75px;
    height: 75px;
  }

  &--name {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: $cl-logo;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;

  &--item {
    display: inline;
    margin-right: 50px;

    &:active,
    &:focus {
      transform: translate(1px, 1px);
      transition: all 0.1s ease-out;
    }

    &-link {
      text-decoration: none;

      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 2em;
      letter-spacing: 0.05em;
      color: $cl-base;

      &:hover {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.174);
        color: $cl-main;
        transition: all 0.1s ease-out;
      }
    }
  }
}

.phone-link {
  padding-left: 50px;
  text-decoration: none;

  background-image: url('./../assets/svg/phone-icon.svg');
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: left center;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $cl-base;

  &:hover {
    opacity: 0.8;
  }
}
