.main-screen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;

  padding-bottom: 80px;

  .ctrl-panel {
    justify-content: flex-start;
  }
}

.main-screen-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin-top: 67px;

  width: 54%;
  min-width: 400px;
  &--title {
    margin-bottom: 40px;

    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: $cl-main;
  }

  &--description {
    margin-bottom: 75px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #6c6c6c;
  }

  &--btn-join {
    position: relative;
    left: 0;
    top: 0;

    margin-bottom: 100px;

    &:after {
      content: '';
      position: absolute;
      right: -20px;
      bottom: -30px;
      display: inline-block;
      width: 70px;
      height: 70px;
      background: url('./../assets/svg/book-icon.svg') no-repeat;
      background-size: contain;
    }
  }
}

.main-screen-right {
  width: 45%;
  min-width: 400px;
  height: 535px;
  padding-left: 50px;

  @supports (-webkit-mask: url(./../assets/svg/mask-image.svg)) or
    (mask: url(./../assets/svg/mask-image.svg)) {
    background: url(./../assets/svg/mask-image-bg.svg) no-repeat 5px 25px;
    background-size: 90%;
  }

  &--img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    @supports (-webkit-mask: url(./../assets/svg/mask-image.svg)) or
      (mask: url(./../assets/svg/mask-image.svg)) {
      border-radius: 0;
      -webkit-mask: url(./../assets/svg/mask-image.svg) no-repeat;
      -webkit-mask-size: 95%;
      mask: url(./../assets/svg/mask-image.svg) no-repeat;
      transform: rotate(-5deg);
      mask-size: 95%;
    }
  }
}
