@media all and (max-width: 854px) {
  .partners {
    margin: 70px 0;

    text-align: center;
    &--title {
      margin-bottom: 40px;

      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: $cl-main;
    }

    &--slider {
      display: flex;
      justify-content: space-around;
    }

    &--slider-img {
      height: 60px;
      object-fit: contain;

      animation: 1s show ease;
    }

    .ctrl-panel {
      margin: 60px 0;
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
