@media all and (min-width: 391px) and (max-width: 853px) {
  .burger-menu {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: url('./../assets/svg/burger-icon.svg') no-repeat;
    background-size: 100%;

    &--items {
      display: none;
      position: absolute;
      right: 0;
      top: 60px;
      z-index: 100;
      width: $mobile-screen-size-container;

      padding: 10px;
      background-color: #fff;

      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.203);

      animation: 1s show ease;
    }

    &--item {
      text-align: start;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $cl-main;
      height: 40px;
      list-style: none;

      animation: 1s show ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.049);
        color: white;
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
