@media all and (min-width: 391px) and (max-width: 853px) {
  .burger-menu {
    display: block;
    width: 40px;
    height: 40px;
    background: url('./../assets/svg/burger-icon.svg') no-repeat;
    background-size: 100%;
  }
}
