@media all and (min-width: 391px) and (max-width: 853px) {
  .first-line {
    max-width: $tablet-screen-size-container;
    padding-top: 30px;
  }

  .logo {
    width: 65px;
    height: 65px;

    text-decoration: none;

    &--icon {
      width: 35px;
      height: 35px;
    }

    &--name {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: $cl-logo;
    }
  }

  .menu {
    display: none;
  }

  .phone-link {
    padding-left: 0;
    background: none;
    background-size: 8%;
    width: 40%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-content: center;
    letter-spacing: 0.05em;
    color: $cl-base;
  }
}
