@media all and (min-width: 854px) and (max-width: 1520px) {
  .l-header,
  .l-advantages,
  .l-about,
  .l-instagram,
  .l-partners,
  .l-footer {
    max-width: $tablet-screen-size;
    margin: 0 auto;
  }

  .l-header,
  .l-instagram,
  .l-footer {
    background-color: $cl-background;
  }

  .l-header-wrapper,
  .l-advantages-wrapper,
  .l-about-wrapper,
  .l-instagram-wrapper,
  .l-partners-wrapper,
  .l-footer-wrapper {
    max-width: $tablet-screen-size-container;
  }
}
