//Screens variables
$x-small-screen-size: 320px;
$small-screen-size: 480px;
$middle-screen-size: 980px;
$large-screen-size: 1200px;

$x-large-screen-size-container: 1440px;
$x-large-screen-size: 1920px;

//Colors variables
$cl-logo: #234a89;
$cl-main: #26497e;
$cl-base: #343434;
$cl-background: #f9f9f9;
