//Screens variables
$mobile-screen-size-container: 327px;
$mobile-screen-size: 391px;

$tablet-screen-size-container: 770px;
$tablet-screen-size: 854px;

$x-large-screen-size-container: 1440px;
$x-large-screen-size: 1920px;

//Colors variables
$cl-logo: #234a89;
$cl-main: #26497e;
$cl-base: #343434;
$cl-background: #f9f9f9;
