.header {
  width: 100%;
  margin: 0 auto;
}

.header-menu {
  margin-top: 0.1rem;

  background-color: #1c1819;
  border-bottom: 2px solid #cc1155;

  &--items {
    padding: 0.9rem;

    list-style: none;
    text-align: center;
  }

  &--item {
    display: inline-block;
    width: 8.54rem;
    padding: 0.44rem 0 0.2rem 0;
    margin-left: -2px;
    border-left: 1px solid #ab8794;

    background-color: #36282d;

    font-size: 0.85rem;
    text-align: center;

    &:hover {
      opacity: 0.9;
      cursor: pointer;

      a {
        display: inline-block;
        height: 100%;
        width: 100%;

        color: rgb(237, 227, 227);
      }
    }

    &:active {
      transform: translate(1px, 1px);
    }

    &:last-child {
      border-right: 1px solid #ab8794;
    }

    a {
      text-decoration: none;
      color: #ab8794;
    }
  }
}
