.message {
  padding: 1.6rem 2.2rem 3rem 2.6rem;
  margin-top: 1.3rem;
  background-color: #fcf1f5;

  text-align: center;

  &--title {
    padding-bottom: 1.5rem;

    text-align: center;
    font-weight: 700;
    font-size: 1.23rem;
    color: #1c1819;
  }

  &--body {
    margin-top: 3.1rem;

    font-size: 1rem;
    line-height: 1.15rem;
    text-align: start;
    color: #36282d;

    p {
      margin-top: 1.1rem;
    }
  }
}
.link--else {
  padding: 0.9rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  text-align: center;
  background-color: #f2ebee;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #b05f7d;
}
